.footer-style {
    bottom: 0;
    color: var(--patriarch);
    display: flex;
    font-size: large;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

.licence-link {
    margin: 0 1rem;
}
